project_id = "project-1234567890"
region     = "europe-west1"

dns_zone = {
  name        = "k8s-tbd-zone"
  domain      = "k8s.tbd-htwg.de."
  description = "Tenant domains for GKE."
}

network = {
  name                    = "tripplanning-vpc"
  subnet_name             = "tripplanning-subnet"
  subnet_cidr             = "10.10.0.0/20"
  pods_secondary_name     = "pods"
  pods_secondary_cidr     = "10.20.0.0/16"
  services_secondary_name = "services"
  services_secondary_cidr = "10.30.0.0/20"
}

gke = {
  cluster_name           = "tripplanning-gke"
  release_channel        = "REGULAR"
  enable_gateway_api     = true
  private_cluster        = true
  master_ipv4_cidr_block = "172.16.0.0/28"
}


kms = {
  enabled         = false
  location        = "europe-west1"
  key_ring_name   = "tripplanning-keyring"
  crypto_key_name = "tripplanning-key"
}

frontend = {
  domain     = "k8s.tbd-htwg.de"
  enable_cdn = false
}
