.env
paas/gcp.env
gcp-sa.json
project-*.json
paas/gcp-dev.env
paas/gcp-stag.env
github-pat-ghcr.txt

# Terraform local artifacts
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfplan
**/plan.tfplan