{
	log {
		output file /var/log/caddy/access.log {
			roll_size 10mb
			roll_keep 5
		}
	}
}

{$CADDY_DOMAIN} {

	tls {
		dns googleclouddns {
			gcp_project {$GCP_PROJECT}
		}
	}

	# Public HTTPS Elasticsearch (Hibernate Search path_prefix /es).
	handle_path /es/* {
		reverse_proxy elasticsearch:9200
	}

	handle {
		respond "Elasticsearch HTTPS API: /es/" 200
	}
}
